---
apiVersion: v1
kind: Namespace
metadata:
  name: webapp
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: webapp-pv
  namespace: webapp
spec:
  storageClassName: kadalu.storage-pool-neb
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500M
---
kind: Pod
apiVersion: v1
metadata:
  name: webapp
  namespace: webapp
spec:
  containers:
    - name: web-nginx
      image: nginx:alpine
      ports:
        - containerPort: 80
          name: "http-server"
      volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: webapp-storage
  volumes:
    - name: webapp-storage
      persistentVolumeClaim:
       claimName: webapp-pv
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  namespace: webapp
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
